[Unit]
Description=Renew searx' let's encrypt certificates with dehydrated
Requires=searx.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-compose -f /var/searx-docker/docker-compose.yml exec -T nginx dehydrated --cron
ExecStartPost=/usr/local/bin/docker-compose -f /var/searx-docker/docker-compose.yml restart nginx

